<p-menubar [model]="items1">
  <div>
      <input type="text" pInputText placeholder="Search">
      <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>&nbsp;<p-button (click)="gfg = true" label="Open Sidebar!"></p-button>
  </div>
</p-menubar>

<h4>This is AK</h4>

<p-sidebar [(visible)]="gfg" [baseZIndex]="10000">
    <h1 style="font-weight: normal">AK</h1>
      
  <p>Angular PrimeNG Sidebar Component</p>

  <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
    
    <p-button
      type="button"
      (click)="gfg = false"
      label="OK"
      styleClass="p-button-info">
    </p-button>
    <p-button
      type="button"
      (click)="gfg = false"
      label="Cancel"
      styleClass="p-button-danger">
    </p-button>
  </p-sidebar>
  

  <!-- Calander -->
  <!-- <h2>AK</h2>
<h4>Disable Months</h4>
<p-calendar [inline]="true" [showWeek]="true"></p-calendar> -->

<!-- Disable Days -->
<div class="p-field p-col-12 p-md-4">
  <label for="disabledays">Disable Days</label><br>
  <p-calendar [(ngModel)]="date5" [disabledDates]="invalidDates" [disabledDays]="[0,6]" [readonlyInput]="true" inputId="disabledays"></p-calendar>
  <!-- <p-calendar [(ngModel)]="selectedDate" [disabledDates]="disableMarch"></p-calendar> -->
</div>

<!-- Disable specific dates and/or days Component -->
<h2 style="color: green">AK</h2>
<h4>Angular PrimeNG Form Calendar Disable 
  specific dates and/or days Component</h4>

<p-calendar 
  [(ngModel)]="calendarVal" 
  [disabledDates]="disabledDatesArr" 
  [readonlyInput]="true">
</p-calendar>

<!-- Calendar Enable specific Date Range -->
<h2 style="color: green">AK</h2>
<h4>Angular PrimeNG Form Calendar Enable 
  specific Date Range</h4>

<!-- <p-calendar [(ngModel)]="value" tabindex="0" [maxDate]="maxDateValue" 
  [minDate]="minDateValue" readonlyInput="true" maxDateValue
  (onMonthChange)="onMonthChange($event)">
</p-calendar> -->
<p-calendar [(ngModel)]="selectedDate" [minDate]="minDate" [maxDate]="maxDate"></p-calendar>

<!-- AK Multi Restriction Based on Input -->
<h2 style="color: red">Multi Restriction Based on Selection</h2>
<h4>Angular PrimeNG Form Calendar Enable 
  specific Date Range</h4>

<p-dropdown [options]="years" [(ngModel)]="selectedYear" (onChange)="onClick()"></p-dropdown>&nbsp;
<p-calendar  [minDate]="minDate1" [maxDate]="maxDate1"></p-calendar>
<app-chart></app-chart>