/* You can add global styles to this file, and also import other style files */
span.p-panelmenu-icon.pi.ng-tns-c22-0.ng-star-inserted.pi-chevron-right {
    color: red;
    position: absolute;
    right: 10px;
}

span.p-panelmenu-icon.pi.ng-tns-c22-0.ng-star-inserted.pi-chevron-down {
    color: red;
    position: absolute;
    right: 10px;
}

span.p-panelmenu-icon.pi.pi-fw.ng-tns-c21-1.ng-star-inserted.pi-angle-right{
    color: red;
    position: relative;
    left: 237px;
}
span.p-panelmenu-icon.pi.pi-fw.ng-tns-c21-1.ng-star-inserted.pi-angle-down{
    color: red;
    position: relative;
    left: 237px;
}